<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books bill</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/alert.css' %}">
    <link rel="stylesheet" href="{% static 'styles/books-bill.css' %}">
  </head>

  <body>
    <nav>
      {% include 'navbar.html' %}
    </nav>

    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
      <div class="alert alert--{{message.tags}}">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">x</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
   
    <div id="input-box">
      
      <div class="input-data">
        <a href="{% url 'bookstore' %}">
          <img class="arrow" src="{% static 'images/arrow.png' %}" >
        </a>
        <h2>Lập hóa đơn bán sách</h2>
        
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="grid-item">
              <span>Mã khách hàng:</span>
              <span>{{hoadon_form.ma_kh}}</span>
            </div>
            <div class="grid-item">
              <span>Họ tên khách hàng:</span>
              <span>{{khachhang_form.hoten_kh}}</span>
            </div>
            <div class="grid-item">
              <span>Mã hóa đơn:</span>
              <span>{{cthd_form.ma_hoa_don}}</span>
            </div>
            <div class="grid-item">
              <span>Mã sách:</span>
              <span>{{cthd_form.ma_sach}}</span>
            </div>
            <div class="grid-item">
              <span>Số lượng bán:</span>
              <span>{{cthd_form.so_luong_ban}}</span>
            </div>
            <div class="grid-item">
                <span></span>
                <span></span>
            </div>
            <div class="grid-item">
              <input type="submit" value="Lập hóa đơn">
            </div>
            <div class="grid-item">
              <a class="input-payment" href="{% url 'input-payment' %}">Nhập số tiền trả</a>
            </div> 
        </form>
      </div>

    </div>
    <script src="{% static 'js/alert.js' %}"></script>
    <script src="{% static 'js/books-bill.js' %}"></script>
  </body>
</html> 