<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create receipt</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/alert.css' %}">
    <link rel="stylesheet" href="{% static 'styles/receipt.css' %}">
  </head>

  <body>
    <nav>
      {% include 'navbar.html' %}
    </nav>
    
    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
      <div class="alert alert--{{message.tags}}">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">x</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div id="input-box">
      
      <div class="input-data">
        <a href="{% url 'bookstore' %}">
          <img class="arrow" src="{% static 'images/arrow.png' %}" >
        </a>
        <h2>Lập phiếu thu tiền</h2>
        
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="grid-item">
              <span>Mã khách hàng:</span>
              <span>{{phieuthutien_form.ma_kh}}</span>
            </div>
            <div class="grid-item">
              <span>Họ tên khách hàng:</span>
              <span>{{khachhang_form.hoten_kh}}</span>
            </div>
            <div class="grid-item">
              <span>Địa chỉ:</span>
              <span>{{khachhang_form.dia_chi}}</span>
            </div>
            <div class="grid-item">
              <span>Số điện thoại:</span>
              <span>{{khachhang_form.dien_thoai}}</span>
            </div>
            <div class="grid-item">
              <span>Email:</span>
              <span>{{khachhang_form.email}}</span>
            </div>
            <div class="grid-item">
              <span>Số tiền thu:</span>
              <span>{{phieuthutien_form.so_tien_thu}}</span>
            </div>
            <div class="grid-item">
              <input type="submit" value="Lập phiếu">
            </div>
        </form>
      </div>

    </div>
    <script src="{% static 'js/alert.js' %}"></script>
  </body>
</html> 