<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bill search</title>
		<link rel="stylesheet" href="{% static 'styles/reset.css' %}">
		<link rel="stylesheet" href="{% static 'styles/search-bills.css' %}">
		<link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
	</head>
	<body>
		<nav>
			{% include 'navbar.html' %}   
		</nav>

		<form class="form" action="{% url 'search-bills' %}" method="get">
			<label for="bills-search"><b>Nhập mã hóa đơn</b>:</label>
			<input type="search" id="bills-search" name="search_query" value="{{search_query}}">
			<input type="submit" value="Tìm kiếm">
		</form>

		<div class="books-bill">
			<h1>Xem hóa đơn</h1>

			{% include 'bookstore/includes/bill.html' %}

			<a href="{% url 'bill' %}?search_query={{search_query}}" type="button" class="bill">In hóa đơn</a>

		</div>
	</body>
</html>