<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inventory report search</title>
		<link rel="stylesheet" href="{% static 'styles/reset.css' %}">
		<link rel="stylesheet" href="{% static 'styles/search-inventory-report.css' %}">
		<link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
	</head>
	<body>
		<nav>
			{% include 'navbar.html' %}   
		</nav>

		<form class="form" action="{% url 'search-inventory-report' %}" method="get">
			<div class="wrapper">
				<label for="month-search"><b>Nhập tháng</b>:</label>
				<input type="search" id="month-search" name="search_month" value="{{search_month}}">
			</div>
			<div class="wrapper">
				<label for="year-search"><b>Nhập năm</b>:</label>
				<input type="search" id="year-search" name="search_year" value="{{search_year}}">
			</div>
			<div class="wrapper">
				<input type="submit" value="Xem">
			</div>
		</form>

		<div class="report">
			<h1>Xem báo cáo tồn</h1>

			{% include 'bookstore/includes/inventory-report.html' %}

			<a href="{% url 'inventory-report' %}?search_month={{search_month}}&search_year={{search_year}}" type="button" class="report">
				In báo cáo
			</a>

		</div>
	</body>
</html>