<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bill search</title>
		<link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/search-bills.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav>
			{% include 'navbar.html' %}   
		</nav>

		<form class="form" action="{% url 'search-bills' %}" method="get">
			<label for="bills-search"><b>Nhập mã hóa đơn</b>:</label>
			<input type="search" id="bills-search" name="search_query" value="{{search_query}}">
			<input type="submit" value="Tìm kiếm">
		</form>

		<div class="books-bill">
			<h1>Xem hóa đơn</h1>
			<!--<h2>Mã khách hàng: {{bill.ma_kh}}</h2>-->
			<h2>Họ tên khách hàng: {{bill.ma_kh.hoten_kh}}</h2>
			<h2>Ngày lập hóa đơn: {{bill.ngay_lap.day}}/{{bill.ngay_lap.month}}/{{bill.ngay_lap.year}}</h2>
			<table class="content-table">
				<thead>
					<tr>
						<th>Mã sách</th>
						<th>Tên sách</th>
						<th>Số lượng bán</th>
						<th>Đơn giá bán</th>
						<th>Thành tiền</th>
					</tr>
				</thead>
				<tbody>
					{% for detail in bill_detail %}
					<tr>
						<td>{{detail.ma_sach}}</td>
						<td>{{detail.ma_sach.ma_dau_sach.ten_dau_sach}}</td>
						<td>{{detail.so_luong_ban}}</td>
						<td>{{detail.don_gia_ban}}</td>
						<td>{{detail.thanh_tien}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="grid-container">
				<span class="grid-item-left"></span>
				<span class="grid-item-left">Tổng tiền:</span>
				<span class="grid-item-right">{{bill.tong_tien}}</span>
				<span class="grid-item-left"></span>
				<span class="grid-item-left">Số tiền trả:</span>
				<span class="grid-item-right">{{bill.so_tien_tra}}</span>
				<span class="grid-item-left"></span>
				<span class="grid-item-left">Còn lại:</span>
				<span class="grid-item-right">{{bill.con_lai}}</span>
			</div>
		</div>
	</body>
</html>