<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guest search</title>
        <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles/search-guests.css' %}">
        <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
    </head>

    <body>
        <nav>
            {% include 'navbar.html' %}
        </nav>

        <form class="form" action="{% url 'search-guests' %}" method="get">
            <label for="guests-search"><b>Tra cứu khách hàng</b>:</label>
            <input type="search" id="guests-search" name="search_query" value="{{search_query}}">
            <input type="submit" value="Tìm kiếm">
        </form>

        <div class="guest-table">
			<h1>Danh sách khách hàng</h1>
			<table class="content-table">
				<thead>
					<tr>
						<th>Mã khách hàng</th>
						<th>Họ tên khách hàng</th>
						<th>Địa chỉ</th>
						<th>Số điện thoại</th>
						<th>Email</th>
                        <th>Số tiền nợ</th>
					</tr>
				</thead>
				<tbody>
					{% for guest in guests %}
					<tr>
						<td>{{guest.ma_kh}}</td>
						<td>{{guest.hoten_kh}}</td>
						<td>{{guest.dia_chi}}</td>
						<td>{{guest.dien_thoai}}</td>
						<td>{{guest.email}}</td>
                        <td>{{guest.so_tien_no}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

    </body>
</html>