<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Bookstore</title>
  </head>

  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <h1 class="hp-text1">Phần mềm quản lý nhà sách</h1>
    <div class="intro">
      <p>
        Trong thời đại công nghệ thông tin phát triển mạnh mẽ, việc ứng dụng công nghệ thông tin trong quản lý 
        kinh doanh là một xu hướng tất yếu. Đối với các nhà sách, việc xây dựng phần mềm quản lý là một giải pháp 
        hữu ích để nâng cao hiệu quả hoạt động, giảm thiểu sai sót và tiết kiệm thời gian, chi phí. Phần mềm quản lý 
        nhà sách cho phép nhân viên có thể quản lý tồn kho sách thông qua việc nhập sách, bán sách và thống kê sách. 
        Ngoài ra, phần mềm cho phép quản lý thông tin khách hàng, theo dõi các khoản thu, nợ để đảm bảo việc quản lý 
        tài chính một cách dễ dàng, hiệu quả.
      </p>
    </div>
    <div class="sidebar">
      <header>Menu</header>
      {% include 'navbar.html' %}
    </div>

    <section>     
    </section>
    
  </body>
</html>