<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{% static 'js/menu-toggle.js' %}"></script>
    <title>Bookstore</title>
  </head>

  <body>
    <div class="sidebar">
      <button class="menu-button" onclick="toggleMenu()">
        <img src="../static/images/menu-icon.png" alt="menu-icon">
      </button>
      <div id="nav">
        <header>Menu</header>
        {% include 'navbar.html' %}
      </div>
    </div>

    {% if request.user.is_authenticated %}
    <section>
      <div class="revenue">
        <img src="../static/images/dollar-icon.png">
        <div class="revenue-text">
          <p>Tổng thu nhập</p>
          <h2>124.587.000 VND</h2>
        </div>
      </div>
      <div class="recently-sold">
        <h1>Các sách được bán gần đây</h1>
        <div class="recently-sold-book-list">

          <div class="recently-sold-book">
            <img src="../static/images/harry-potter-chamber-of-secrets.jpg">
            <h2>Harry Potter And The Chamber Of Secrets</h2>
            <p>J. K. Rowling</p>
          </div>
          <div class="recently-sold-book">
            <img src="../static/images/harry-potter-philosopher-stone.jpg">
            <h2>Harry Potter and the Philosopher's Stone</h2>
            <p>J. K. Rowling</p>
          </div>
          <div class="recently-sold-book">
            <img src="../static/images/conan-1.jpg">
            <h2>Conan 1</h2>
            <p>Gosho Aoyama</p>
          </div>
          
        </div>
      </div>
    </section>
    {% else %}
    <section class="guest-box">
      <div class="message-box">
        <div class="welcome-message">
          <h1>Chào mừng đến với website quản lý nhà sách!</h1>
          <p>Nếu bạn là nhân viên nhà sách thì hãy <a href="{% url 'login' %}">đăng nhập</a> để có thể làm việc.</p>
        </div>
      </div>
    </section>
    {% endif %}
    
  </body>
</html>