<h2>{{search_month}}/{{search_year}}</h2>
<table class="content-table">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Nợ đầu</th>
            <th>Phát sinh</th>
            <th>Nợ cuối</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in report %}
        <tr>
            <td>{{detail.ma_kh}}</td>
            <td>{{detail.ma_kh.hoten_kh}}</td>
            <td>{{detail.no_dau}}</td>
            <td>{{detail.phat_sinh}}</td>
            <td>{{detail.no_cuoi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>