<h2>Mã phiếu nhập sách: {{note.ma_phieu_nhap}}</h2>
<h2>Ngày nhập: 
    {% if note %}
    {{note.ngay_nhap.day}}/{{note.ngay_nhap.month}}/{{note.ngay_nhap.year}}
    {% endif %}
</h2>
<h2>Tổng tiền: {{note.tong_tien}}</h2>
<table class="content-table">
    <thead>
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Số lượng nhập</th>
            <th>Đơn giá nhập</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        {% if note_detail %}
        {% for detail in note_detail %}
        <tr>
            <td>{{detail.ma_sach}}</td>
            <td>{{detail.ma_sach.ma_dau_sach.ten_dau_sach}}</td>
            <td>{{detail.so_luong_nhap}}</td>
            <td>{{detail.don_gia_nhap}}</td>
            <td>{{detail.thanh_tien}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>