<h2>{{search_month}}/{{search_year}}</h2>
<table class="content-table">
    <thead>
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Tồn đầu</th>
            <th>Phát sinh</th>
            <th>Tồn cuối</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in report %}
        <tr>
            <td>{{detail.ma_sach}}</td>
            <td>{{detail.ma_sach.ma_dau_sach.ten_dau_sach}}</td>
            <td>{{detail.ton_dau}}</td>
            <td>{{detail.phat_sinh}}</td>
            <td>{{detail.ton_cuoi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>